/* Navigation */
.navbar {
  padding: 0.5rem 0;
}
.navbar-nav {
  align-items: center;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  margin: 0 0.4rem;
  text-transform: uppercase;
  font-family: var(--ff);
  font-size: 0.8em;
  padding: 0.5rem;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--soft-red);
}
.navbar-light .navbar-nav .nav-link.active {
  background: var(--soft-red);
  color: var(--neutral);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem 1.7rem;
  margin-left: 2rem;
}
.navbar-light .navbar-nav .nav-link.active:hover {
  background: transparent;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
}
.navbar-toggler {
  outline: 0 !important;
}
@media screen and (max-width: 991px) {
  /* menu */
  .navbar-light .navbar-nav .nav-link.active {
    margin-left: 0;
  }
}